@using EntityLayer.Concrete
@model List<Content>
@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("GetAllContent", "Content", FormMethod.Post))
{
    <br /> 
    <p>
        Aranacak Kelime giriniz : @Html.TextBox("p")
        <input type="submit" value="ara" />
    </p>
}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Başlık Adı</th>
                <th>İçerik</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Heading.HeadingName</td>
                <td>@item.ContentValue</td>
            </tr>
                    }
                
         </tbody>
    </table>
</div>